* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Delete afterwards */
.image-placeholder {
  background-color: blue;
  width: 150px;
  height: 100px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

header {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 8px 60px;
  gap: 16px;
}

.upper-header {
  display: flex;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

nav {
  margin-left: auto;
}

.lower-header {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 50px;
  margin-bottom: 60px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
}

.header-btn {
  color: #e5e7eb;
  background-color: #3882f6;
  width: 80px;
  height: 25px;
  border-radius: 6px;
}

.header-image {
  flex-basis: 700px;
  height: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a8c91;
  color: #1f2937;
}

main {
  padding: 8px 60px;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  flex-basis: 150px;
  display: flex;
  flex-direction: column;
  border: 3px solid blue;
  background-color: #e5e7eb;
  border-radius: 9px;
}

.card-info {
  flex-wrap: wrap;
  text-align: center;
}

footer {
  margin-top: auto;
}
